<div class="container">
    <form name="details" method="post" align="center" ><br><br><br><br>
        <h1>Chennai Employee List</h1>   
        
        <div class="tabledetails">  
            <table style="width:100%" >          
              <thead>
                <tr>                  
                  <th><u>Employees</u></th>                         
                </tr>
              </thead><br>     
              <tbody>         
                <tr *ngFor="let employee of employees">                  
                  <td>{{employee.name}}</td>                  
                </tr>
              </tbody>       
            </table>
        </div>
        
    </form>
</div>