h1{
font-family:"Times New Roman";
padding-top: 30px;
font-size: 45px;
color:#116fb3;
margin-right:80px;
}

label{
    width:240px;
    display:inline-block;
}

div{
    text-align: center;
}

.container{
    text-align:center;
    font-size: 15px;
}

.button1{
    color:white;
    background-color: #1c8adb;
    border:1px solid #075670;
    padding:7px 7px;
    font-size: 17px;    
    width:30%;
    text-align:center;
}

.button1:hover {
    background-color: #06baf7;
    color: white;
  }

.submitbutton{
    background-color: #1c8adb;
    border:1px solid #075670;
}

.cancelbutton{
    background-color: #1c8adb;
    border:1px solid #075670;
} 

