table{
    border:1px solid black;
    border-collapse:collapse;
    table-layout:auto;
    width:100%;    
}

.form-group{
    text-align:left;
}

table th{
    background-color:gold;
    text-align:center;    
}

th,td{
    border:2px solid black;
}