<div class="container">
    <form name="details" method="post" align="center" ><br><br><br><br>
        <h1>Select a location</h1>
        <div class="form">
            <button type="button" id="btn" name="btn" class="btn" style="margin:20px;" href="#" routerLink = "/employeelistmangalore" routerLinkActive= "active" >Mangalore</button>
            <button type="button" id="btn" name="btn" class="btn" style="margin:20px;" href="#" routerLink = "/employeelisthyderabad" routerLinkActive= "active" >Hyderabad</button>
            <button type="button" id="btn" name="btn" class="btn" style="margin:20px;" href="#" routerLink = "/employeelistchennai" routerLinkActive= "active" >Chennai</button> 
        </div>

        
    </form>

</div>
