<div class="container">
    <form name="details" method="post" align="center" ><br><br><br><br>
        <h1>Select a location</h1>
        <div class="form">
            <button type="button" id="btn1" name="btn" class="btn" style="margin:20px;" (click)="mangalorefunction()">Mangalore</button> 
            <button type="button" id="btn2" name="btn" class="btn" style="margin:20px;" (click)="hyderabadfunction()">Hyderabad</button>
            <button type="button" id="btn3" name="btn" class="btn" style="margin:20px;" (click)="chennaifunction()">Chennai</button>
            <br>{{message}} 
            </div>
    </form>
    <app-employeelist [filteredData]="filteredEmployees" (messageEvent)="receiveMessage($event)"></app-employeelist>
</div>
